name: Continuous Integration - Tests

on:
  push:
    paths:
      - ".github/workflows/tests.yml"
      - "**/*.zig"
      - "build.zig.zon"
      - "test/fixtures/**"
  pull_request:
    paths:
      - ".github/workflows/tests.yml"
      - "**/*.zig"
      - "build.zig.zon"
      - "test/fixtures/**"
  workflow_dispatch:

concurrency:
  group: tests-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2

      - name: Install Zig
        uses: mlugg/setup-zig@v2.2.1
        with:
          version: 0.15.2

      - name: Run tests
        run: zig build test
